.react-flow__node-insight {
    font-size: 8px;
    background: #a2d2bc;
    border: 1px solid #555;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: left;
    max-width: "130px";
    padding: 5px;
}

.react-flow__node-plot {
    font-size: 10px;
    color: 'white';
    background: #9ab75e;
    border: 1px solid #555;
    border-radius: 5px;
    display: inline-block;
    width: 130px;
    height: auto;
    text-align: center;
    padding: 5px;
}

div.CodeMirror-linebackground.jp-InputArea-editor-dependencyline {
    background-color: #f0c633;
  }

  .react-flow__node-raw {
    font-size: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    max-width: "130px";
    padding: 5px;
}